7130ICT Data Analytics - Assignment

Group member:
s5257464 Nguyen Quang Huy
Gauri Bhanot

In [1]:
import pandas as pd

##### Reading the data

In [ ]:
# Load data.csv into data
data = pd.read_csv("data.csv")

In [ ]:
data.head()

# Part 1 – Data Preparation and Preprocessing

## 1. Describe the dataset

### 1.1 Describe the dataset (e.g.: type of column, value range)

In [ ]:
data.info()

In [ ]:
data.describe(include='all')

### 1.2 How many records are there in the dataset?

In [ ]:
print("There are",data.shape[0], "rows in the dataset")

### 1.3 Which period does it cover? How many different dates have job postings?

In [ ]:
data["Date"] = pd.to_datetime(data["Date"])

In [ ]:
print("The data covers the period starting from", min(data["Date"]).date(),"to", max(data["Date"]).date())

In [ ]:
data["Date"].value_counts()

### 1.4 How many locations does the dataset have? Which location has the most job postings?

In [ ]:
print("There are", len(data["Location"].value_counts()), "locations in the dataset")

In [ ]:
data["Location"].value_counts(ascending=False)

--> Sydney has the most number of job postings

### 1.5 How many job sectors(job classifications) are there in the dataset? List the name of each sector and its’ total of job postings.

In [ ]:
print("There are", len(data["Classification"].value_counts()), "Classifications in the dataset")

In [ ]:
data["Classification"].value_counts()

### 1.6 Choose your favorite job sector (e.g. Information & Communication Technology), how many sub-sectors are there in that sector? List the name of each sub-sector and its’ job posting number.

In [ ]:
# Choosing science and tech as my favourite job sector

science_and_tech_data = data[data["Classification"]=="Science & Technology"]

In [ ]:
print("There are", len(science_and_tech_data["SubClassification"].value_counts()), "Sub-sectors in the dataset")

In [ ]:
science_and_tech_data["SubClassification"].value_counts()

### 1.7 List the salary ranges and their total of job postings.

In [ ]:
data["Salary Range"] = data["LowestSalary"].astype("string") + "-" + data["HighestSalary"].astype("string")
data["Salary Range"].value_counts()

### 1.8 List the job types. In each job type, what are the lowest salary and highest salary?

In [ ]:
data['JobType'].unique()

In [ ]:
job_types = list(data['JobType'].unique())[1:]
for job in job_types:
  print("The  lowest salary for", job, "is", data[data["JobType"] == job]['LowestSalary'].min())
  print("The  highest salary for", job, "is", data[data["JobType"] == job]['HighestSalary'].max())

## 2. Normalize and clean data

### 2.1 The salaries are kept in the dataset as “HighestSalary” and “LowestSalary”. You should calculate the “AverageSalary” for each job.

In [ ]:
# calculate average salary

data["Average Salary"] = (data["LowestSalary"] + data["HighestSalary"])/2

### 2.2 The raw dataset values of the "Id" column had inconsistencies in their representation. The Id values should have 8 number long integers only. Write code to remove unnecessary characters.

In [ ]:
# get the ID length of the column Id, then assign it to a new column called Id_length

data["Id_length"] = data["Id"].apply(lambda x: len(str(x)))

In [ ]:
# locate the rows where Id_length is not 8

data.loc[data.Id_length!=8].head(2)

In [ ]:
# since the "real" Id is always the first 8 characters, we string slice each value in the column Id, keep only the first 8 character and get rid of the rest

data['Id'] = data['Id'].apply(lambda x: str(x)[0:8])
data.Id

### 2.4 Change type of “Id” column to numeric and change type of “Date” column to DateTime.

In [ ]:
data.head(2)

In [ ]:
# turn the Id column to numeric

data['Id']=pd.to_numeric(data['Id'])

### 2.3 The "Date" column is represented in a format that contained both date and time information. However, the time is not correct and should be removed.

In [ ]:
data['Date']=pd.to_datetime(data['Date'])
data.head(2)

### 2.5 Are there any duplicate data in the dataset? Provide the way you find them and your solution to fix it. **

In [ ]:
# locate a sample of duplicated data

data.loc[data['Id']==37915007]

In [ ]:
# locate all the duplicated data

data_duplicates=data[data.duplicated()]
print(data_duplicates.shape)

In [ ]:
# the data shape before drop_duplicate

data.shape

In [ ]:
# drop_duplicates

data.drop_duplicates(inplace=True)

In [ ]:
# the data shape after drop_duplicates

data.shape

### 2.6 Check missing data and visualize them in a corresponding chart

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# get the sum of isna() in each column

missing_data=data.isna().sum()
missing_data

In [ ]:
missing_values=missing_data.tolist()
missing_columns=missing_data.index.tolist()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.barplot(x=missing_values, y=missing_columns).set(title="missing data")

# Part 2 – Data Understanding

### Get the salary ranges using “AverageSalary”, the total jobs of each range and display them in the bar chart

In [ ]:
data["Average Salary"]

In [ ]:
fig = plt.figure(figsize = (6,4))

data["Average Salary"].value_counts().plot(kind='bar')
plt.ylabel('Count of job')
plt.xlabel('Average salary (thousand AUD)')
plt.title("Job distribution by average salary")
plt.show()

### Display the list of job types and the number of jobs of each type using pie chart.

In [ ]:
data.JobType.unique()

In [ ]:
data["JobType"].value_counts()

In [ ]:
# Display the list of job types and the number of jobs of each type using pie chart.
fig = plt.figure(figsize = (6,6))

plt.pie(data["JobType"].value_counts(dropna=False), labels=data.JobType.unique(), autopct='%1.1f%%')
plt.title("Number of jobs of each type")
plt.show()

### Display the list of job sectors and the number of jobs of each type using horizontal bar chart.

In [ ]:
data.Classification.unique()

In [ ]:
# get the index (classification) and the values (classification count) from the panda series
job_sectors=data.Classification.value_counts().sort_values(ascending=False).index
job_sectors_count=data.Classification.value_counts().sort_values(ascending=False).values

# changing the sns figure size
sns.set(rc={'figure.figsize':(12,8)})

sns.barplot(x=job_sectors_count, y=job_sectors).set(title="Number of jobs by classification")
plt.ylabel('Jopb sector')
plt.xlabel('Number of jobs')
plt.show()

### Choose your favorite location. Visualize the market share of that location in pie chart.

In [ ]:
# getting the Brisbane dataframe
Brisbane_data=data.loc[data.Location=='Brisbane']
Brisbane_data.head(2)

In [ ]:
import numpy as np

Brisbane_data.loc[Brisbane_data["Classification"] == "Self Employment", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Advertising, Arts & Media", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Farming, Animals & Conservation", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "CEO & General Management", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Sport & Recreation", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Science & Technology", "Classification"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Consulting & Strategy"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Design & Architecture"] = "Others"
Brisbane_data.loc[Brisbane_data["Classification"] == "Insurance & Superannuation"] = "Others"

Brisbane_data.head(5)

In [ ]:
# get the index (classification) and the values (classification count) from the Brisbane_data panda series
Brisbane_job_sectors=Brisbane_data.Classification.value_counts().sort_values(ascending=False).index
Brisbane_job_sectors_count=Brisbane_data.Classification.value_counts().sort_values(ascending=False).values

In [ ]:
#define Seaborn color palette to use
colors = sns.color_palette('pastel')[0:30]

# which slice explode by how much
explode = (0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2)

plt.pie(Brisbane_job_sectors_count, labels=Brisbane_job_sectors, autopct='%1.1f%%', colors=colors, radius=1.5, explode=explode)
plt.show()

### Can you find the salary distribution for the top 30 cities for the number of job postings? Visualize them in the boxplot chart.

In [ ]:
# getting the top 30 cities in term of number of job postings

Cities_series=data.Location.value_counts(ascending=False).head(30)
Cities_series.index.array

In [ ]:
# create a test_data so I don't mess up the original data

test_data=data
test_data.head(5)

In [ ]:
# select the rows that has test_data.Location in the array which is a list of 30 Cities

test_data = test_data[test_data['Location'].isin(Cities_series.index.array)]
test_data.head()

In [ ]:
test_data.HighestSalary.unique()

In [ ]:
# data.boxplot(column="HighestSalary", by=Cities_series)
from matplotlib.pyplot import figure

figure(figsize=(10, 5), dpi=100)

sns.boxplot(x="Location", y="HighestSalary", data=test_data)
plt.ylim(0,250)
plt.xticks(rotation=90)
plt.title("Location and the average highest salary")
plt.show()

# Part 3 – Data Analysis and Visualisation
## 1. Analyse by comparison

### 1.1 Which city has more job?

In [ ]:
Brisbane_data=data.loc[data.Location=='Brisbane']
Brisbane_data.info()

In [ ]:
Sydney_data = data.loc[data.Location=='Sydney']
Sydney_data.info()

--> Sydney has more job posting (60,729) compare to Brisbane (21455)

### 1.1 How many jobs each type (casual, fulltime, etc.) are there in each city?

In [ ]:
fig = plt.figure(figsize = (6,4))

Brisbane_data.JobType.value_counts(dropna=False).plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel('Count of job')
plt.xlabel('Job type')
plt.title("Number of jobs by each type in Brisbane")
plt.show()

In [ ]:
fig = plt.figure(figsize = (6,4))

Sydney_data.JobType.value_counts(dropna=False).plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel('Count of job')
plt.xlabel('Job type')
plt.title("Number of jobs by each type in Sydney")
plt.show()

### 1.2 In each city, which are top 5 job sectors? How many jobs are there in each sector?

In [ ]:
fig = plt.figure(figsize = (6,4))

Brisbane_data.Classification.value_counts(ascending=False).head(5).plot(kind='bar')
plt.ylabel('Count of job')
plt.xlabel('Job sector')
plt.title("Number of jobs by each sector in Brisbane")
plt.show()

In [ ]:
fig = plt.figure(figsize = (6,4))

Sydney_data.Classification.value_counts(ascending=False).head(5).plot(kind='bar')
plt.ylabel('Count of job')
plt.xlabel('Job sector')
plt.title("Number of jobs by each sector in Sydney")
plt.show()

### 1.3 Visualise the top 5 job sectors in pie chart for each city.*

In [ ]:
Brisbane_data.Classification.value_counts(ascending=False).head(5).plot(kind='pie', autopct='%1.1f%%')
plt.title("Top 5 sector in Brisbane")
plt.show()
print(Brisbane_data.Classification.value_counts(ascending=False).head(5))

In [ ]:
Sydney_data.Classification.value_counts(ascending=False).head(5).plot(kind='pie', autopct='%1.1f%%')
plt.title("Top 5 sector in Sydney")
plt.show()

print(Sydney_data.Classification.value_counts(ascending=False).head(5))

### 1.4 In each city, list the job salary range with the corresponding number of jobs. Which city is more well-paid?

In [ ]:
Brisbane_data['Salary Range'].value_counts().plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel('Count of job')
plt.xlabel('Salary range')
plt.title("Number of jobs by salary range in Brisbane")
plt.show()

In [ ]:
Sydney_data['Salary Range'].value_counts().plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel('Count of job')
plt.xlabel('Salary range')
plt.title("Number of jobs by salary range in Sydney")
plt.show()

In [ ]:
Brisbane_data['Salary Range'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title("Number of jobs by salary range in Brisbane")
plt.show()

In [ ]:
Sydney_data['Salary Range'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title("Number of jobs by salary range in Sydney")
plt.show()

--> salary range percantage from Brisbane data and Sydney data is roughly the same (minor differences), in term of salary range 150-200, Brisbane's percentage is 12.7% compare to Sydney's 10.3% --> 2.4% differnce

Other than that, the difference in other salary range is less than 1%

--> cannot say which city is more "well-paid" than the other

### 1.5 List top 5 companies in each city? Which sectors do they belong to?

In [ ]:
# getting the top 5 companies in Brisbane, not counting NA

Brisbane_data.Company.value_counts().head(5)

In [ ]:
Brisbane_data_Jora_Local = Brisbane_data.loc[Brisbane_data.Company=='Jora Local']
Brisbane_data_Jora_Local.Classification.value_counts().head(2)

In [ ]:
Brisbane_data_Hudson = Brisbane_data.loc[Brisbane_data.Company=='Hudson']
Brisbane_data_Hudson.Classification.value_counts().head(2)

In [ ]:
Brisbane_data_uNu = Brisbane_data.loc[Brisbane_data.Company=='u&u. Recruitment Partners']
Brisbane_data_uNu.Classification.value_counts().head(2)

In [ ]:
Brisbane_data_UQ = Brisbane_data.loc[Brisbane_data.Company=='The University of Queensland']
Brisbane_data_UQ.Classification.value_counts().head(2)

In [ ]:
Brisbane_data_PSW = Brisbane_data.loc[Brisbane_data.Company=='Programmed Skilled Workforce']
Brisbane_data_PSW.Classification.value_counts().head(2)

In [ ]:
# getting the top 5 companies in Sydney, not counting NA

Sydney_data.Company.value_counts().head(5)

In [ ]:
Sydney_data_Jora_Local = Sydney_data.loc[Sydney_data.Company=='Jora Local']
Sydney_data_Jora_Local.Classification.value_counts().head(2)

In [ ]:
Sydney_data_RB = Sydney_data.loc[Sydney_data.Company=='Robert Walters']
Sydney_data_RB.Classification.value_counts().head(2)

In [ ]:
Sydney_data_DB = Sydney_data.loc[Sydney_data.Company=='Design & Build']
Sydney_data_DB.Classification.value_counts().head(2)

In [ ]:
Sydney_data_Paxus = Sydney_data.loc[Sydney_data.Company=='Paxus']
Sydney_data_Paxus.Classification.value_counts().head(2)

In [ ]:
Sydney_data_Bluefin = Sydney_data.loc[Sydney_data.Company=='Bluefin Resources Pty Limited']
Sydney_data_Bluefin.Classification.value_counts().head(2)

In [ ]:
data.Classification.unique()

### 1.6 Between 2 cities, which do you think it is better for employees. Explain your choice.*

There are close to none finding that prove 1 city is "better for the employees" than the other:
- Both cities have very similar salary range percentage
- The most popular Job sectors are:
    + Information & Communication Technology
    + Trades & Services
    + Healthcare & Medical
    + Manufacturing, Transport & Logistics
    + Hospitality & Tourism
    + Accounting
- One thing worth mentioning is that in Brisbane, Manufacturing, Transport & Logistics Job sector is more popular than in Sydney, therefore if an employees is looking for a job in Manufacturing, Transport & Logistics sector, it might be better to find a job in Brisbane than Sydney
- On the other hand, Accounting sector is more popular in Sydney than Brisbane, so if an employee want to find a job in Accounting sector, it might be better to do so in Sydney

Between 2 cities, Sydney in general would be a better choice for employees because:
- Higher count of Job posting --> more job opportunities

Note: if an employees aims specifically at the salary range of 150-200, it might be better to do so in Brisbane since the percentage of said job is a little bit higher than that of Sydney

## 2. Analyse by time

### 2.1 Visualise the number of job posts by month

In [ ]:
# get the month and assign it to a new column

data['Month'] = data['Date'].dt.month 
data.head(2)

In [ ]:
fig = plt.figure(figsize = (8,4))

Jobs_posted_by_month = data['Month'].value_counts().plot(kind='bar')
plt.xticks(rotation=0)
plt.xlabel('Month')
plt.ylabel('Average Number of Job Posts')
plt.title("Numbe of Job Posts by Month")
plt.show()

### 2.2 Visualise the number of job posts by day of week.

In [ ]:
data["Day of Week"] = data["Date"].dt.day_name()

In [ ]:
Jobs_posted_by_weekday = data['Day of Week'].value_counts()
Jobs_posted_by_weekday

In [ ]:
fig = plt.figure(figsize = (8,4))
Days = ["Wed", "Fri", "Thur", "Tue", "Mon","Sun","Sat"]
plt.bar(Days, Jobs_posted_by_weekday)
plt.title("Job Posts by Day of Week")
plt.xlabel('Day of Week')
plt.ylabel('Number of Job Posts')
plt.show()

### 2.3 Visualise the number of job posts by day of the month.

In [ ]:
Jobs_posted_by_day_of_month = data['Date'].dt.day.value_counts().sort_index()
Jobs_posted_by_day_of_month

In [ ]:
for value in Jobs_posted_by_day_of_month.values:
    Jobs_posted_by_day_of_month = Jobs_posted_by_day_of_month.replace(to_replace = value, value = value/6)

plt.figure(figsize=(12,5))
Jobs_posted_by_day_of_month.plot(kind='bar')
plt.title("Average Job Posts by Day of Month")
plt.xlabel('Day of Month')
plt.ylabel('Average number of Job Posts')
plt.show()

### 2.4 Visualise trending of the job postings for the big cities.*

In [ ]:
# getting the top cities

top_cities = ["Sydney", "Melbourne", "Brisbane", "Perth", "Adelaide" ]
data_top_cities = data.loc[data['Location'].isin(top_cities)]

In [ ]:
data_top_cities.Location.value_counts()

In [ ]:
data_top_cities = data_top_cities[["Location","Date"]].value_counts()
data_top_cities

In [ ]:
plt.figure(figsize=(12,5))
sns.lineplot(data=data_top_cities, x="Date", y = data_top_cities.values, hue="Location")
plt.title("Job Posts by Location")
plt.xlabel('Date')
plt.ylabel('Number of Job Posts')
plt.show()

### 2.5 Based on the above charts, provide your observation about the number of job posts over time. Give your own conclusion.

Sydney has had the highest job posts over time. Melbourne has had the second highegest, following Brisbane, Perth with Adelaide having the lowest number of job posts. 

There was also a sudden drop in the number of job posts for each of the 5 big cities during the period of 2018 between the middle in the month of Novemner continuing till the begnning month of December.

The number of jobs posts increase again from around the middle of December with Sydney having the highest jobs post still even after the drop and the other cities follow the same pattern once again. 

The period where Syndey had the highest number of job posts in the period of 2018 was in the middle of October, where the number reached up to 4000. 
mid 
After the drop in job posts in all the cities, Sydney's job post count dropped to approxmately 3400. Nevertheless, Sydney still being the city wiht the highest job count still as mentioned before.  

The period of approxmately after mid-October till the start of November was where each of the 5 cities had the lowest job posts. With Sydney having 500, Melbourne having around 300, Brisbane and Perth almost having the same number of job posts around 0-15 and Adelaide having almost none during that time.

## 3. Forecasting and skill extractions

### 3.1 Using moving average for 7 days and 30 days to predict the number of job postings and visualise them in line chart. Which one creates a better prediction? Explain your choice.**

In [ ]:
data_ma = data['Date'].dt.date.value_counts().to_frame(name='Count')
data_ma['Date'] = data_ma.index
data_ma = data_ma.sort_values(by="Date")
data_ma

In [ ]:
# Using moving average
def moving_average(df, k):
    moving_average_df = pd.DataFrame(columns=['Count','Date'])
    for i in range (0, 163):
        if i < k:
            history = df.Count[0:i]
            count_predict = history.mean()
        else:
            history = df.Count[i-k:i]
            count_predict = history.mean()
        moving_average_df.loc[i] = [count_predict, df.Date[i]]
    return moving_average_df


plt.figure(figsize=(12,5))

data_ma_7 = moving_average(data_ma, 7)
data_ma_30 = moving_average(data_ma, 30)

sns.lineplot(x=data_ma.Date, y=data_ma.Count, data=data_ma, color='g')

sns.lineplot(x=data_ma_7.Date, y=data_ma_7.Count, data=data_ma_7, color='b')

sns.lineplot(x=data_ma_30.Date, y=data_ma_30.Count, data=data_ma_30, color='r')

plt.legend(labels=["Real Count","7 days MA Count", "30 days MA Count"])

plt.show()

--> 7 days moving average obviously made more accurate prediction because it takes in account suddent changes in the amount of job posting

This was demonstrated very clearly between 11/2018 and 12/2018, where the amount of job posting suddently drop, 7 MA prediction took a few days to catch up to the real values, whereas 30 MA prediction did not catch up to the real values up until half way through 12/2018

### 3.2 Choose your favourite job sector/sub-sector, then use TF/IDF to extract important key words

In [ ]:
import nltk
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [ ]:
accounting_df = data[data['Classification'] == 'Accounting']
accounting_df.head()

In [ ]:
# Perform preprocessing

# Tokenize 
accounting_df["tokens"] = accounting_df.apply(lambda row: nltk.word_tokenize(row["Requirement"]), axis = 1)
# Remove punctuation
accounting_df["alpha"]= accounting_df["tokens"].apply(lambda x:[item for item in x if item.isalpha()])
# Remove stop words
stop_words = stopwords.words("english")
accounting_df["stop"] = accounting_df["alpha"].apply(lambda x: [item for item in x if item not in stop_words])
# Stem
stemmer = PorterStemmer()
accounting_df ["stemmed"] = accounting_df["stop"].apply(lambda x: [stemmer.stem(item) for item in x])
accounting_df ["stemmed"]

In [ ]:
# Compute the BOW of the preprocessed data

from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(lowercase= False, analyzer = lambda x: x)
BOW = vectorizer.fit_transform(accounting_df["stemmed"]).toarray()
BOW.shape

In [ ]:
# TODO: Compute the TF using the BOW

TF = pd.DataFrame(data = BOW, columns = vectorizer.get_feature_names())
TF = TF.divide(TF.sum(axis = 1), axis=0)
TF.head(1)

In [ ]:
# TODO: Compute the IDF

IDF = pd.DataFrame(data = BOW, columns = vectorizer.get_feature_names())
IDF[IDF>1] = 1
IDF =np.log(len(IDF)/IDF.sum(axis=0))
IDF

In [ ]:
# TODO: compute the TF-IDF

tfidf = TF*IDF
tfidf

In [ ]:
# TODO: Print the 10 words with the highest and lowest TF-IDF on average  #TF-IDF USING BOW

print("Highest TF-IDF words: \n", tfidf.max(axis = 0).sort_values(ascending = False)[:10])

In [ ]:
print("Lowest TF-IDF words: \n", tfidf.min(axis = 0).sort_values(ascending = True)[:10])

# 2nd way

In [ ]:
# TODO: Compute the TF-IDF using scikit learn
# Import the module
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the TF-IDF vectorizer
vectorizer = TfidfVectorizer(lowercase = False, analyzer = lambda x:x)
# Compute the TF-IDF
tf_idf = vectorizer.fit_transform(accounting_df["stemmed"]).toarray()
tf_idf = pd.DataFrame(data = tf_idf, columns = vectorizer.get_feature_names())
tf_idf

In [ ]:
# TODO: Print the 10 words with the highest TF-IDF on average
print("Highest words:",tf_idf.max(axis = 0).sort_values(ascending = False)[:10])

In [ ]:
# TODO: Print the 10 words with the lowest TF-IDF on average
print("Lowest words:",tf_idf.min(axis = 0).sort_values(ascending = True)[:10])

### 3.2 Visualise them in word cloud chart

![](./CloudChart.png)

# Part 4 – Discussion

## Scenario 1

In [ ]:
# Tom, a grade 12 student in Brisbane, has good results in all of the
# subjects in his school. He is finding a major in the University which can guarantee a
# job in his state (Queensland) with a good income (>=80K) in the future. Based on the
# current job market dataset, which major and the related subjects do you recommend
# him? Explain your choice.*

In [ ]:
data.head(2)

In [ ]:
# getting the data in QLD top 10 by population (according to wikipedia)

QLD_areas = ["Brisbane", 
             "Gold Coast", 
             "Sunshine Coast", 
             "Cairns & Far North", 
             "Toowoomba & Darling Downs", 
             "Mackay & Coalfields",
             "Rockhampton & Capricorn Coast",
             "Hervey Bay & Fraser Coast",
             "Bundaberg & Wide Bay Burnett",
             "Gladstone & Central QLD"]
data_QLD = data.loc[data['Location'].isin(QLD_areas)]
data_QLD.head(5)

In [ ]:
# getting the rows where the average salary is >= 80

data_QLD = data_QLD.loc[data_QLD["Average Salary"] >= 80]
data_QLD.head(5)

In [ ]:
# get the index (classification) and the values (classification count) from the panda series
QLD_job_sectors=data_QLD.Classification.value_counts().sort_values(ascending=False).index
QLD_job_sectors_count=data_QLD.Classification.value_counts().sort_values(ascending=False).values

# changing the sns figure size
sns.set(rc={'figure.figsize':(12,8)})

sns.barplot(x=QLD_job_sectors_count, y=QLD_job_sectors).set(title="Number of jobs by classification")
plt.ylabel('Job sector')
plt.xlabel('Number of jobs')
plt.show()

The above graph was created with the following specification:
- The job post must be in top 10 most populated cities/areas in Queensland (according to wikipedia)
- The job post must have an average salary of 80 or above

--> according to the above graph, Tom should choose his major that belongs to either "Information & Communication Technology" or "Healthcare & Medical" sector

## Let's explore in more detail which direction should Tom choose if he prefer IT over Healthcare

In [ ]:
data_QLD_IT = data_QLD.loc[data_QLD['Classification'] == "Information & Communication Technology"]
data_QLD_IT.head(5)

In [ ]:
# get the index (classification) and the values (classification count) from the panda series
QLD_job_sectors_IT=data_QLD_IT.SubClassification.value_counts().sort_values(ascending=False).index
QLD_job_sectors_count_IT=data_QLD_IT.SubClassification.value_counts().sort_values(ascending=False).values

# changing the sns figure size
sns.set(rc={'figure.figsize':(12,8)})

sns.barplot(x=QLD_job_sectors_count_IT, y=QLD_job_sectors_IT).set(title="Number of IT jobs by SubClassification")
plt.ylabel('Job sector')
plt.xlabel('Number of jobs')
plt.show()

The above graph was created with the following specification:
- The job post must be in top 10 most populated cities/areas in Queensland (according to wikipedia)
- The job post must have an average salary of 80 or above
- The job post must be in the "Information & Communication Technology" Classification

--> according to the above graph, if Tom were to choose IT as his major, he should aim to be a Developer/Progammer or a Business/Systems Analyzer

## Let's get in even more detail (on salary):

In [ ]:
data_QLD_IT_dev = data_QLD_IT.loc[data_QLD_IT['SubClassification'] == "Developers/Programmers"]
data_QLD_IT_dev["Average Salary"].mean()

In [ ]:
data_QLD_IT_dev = data_QLD_IT.loc[data_QLD_IT['SubClassification'] == "Business/Systems Analysts"]
data_QLD_IT_dev["Average Salary"].mean()

--> even though the number of job posts for Programmer/Dev is higher than the number of job posts for Business/Systems Analysts, the average salary for a Business/System Analysts is higher than the average salary of a Programmer/dev

--> if Tom want a "higher salary" job, he should focus more on Analytic, and if want a higher chance of getting ajob, he should focus more on programming

## Let's explore in more detail which direction should Tom choose if he prefer Healthcare over IT

In [ ]:
data_QLD_Healthcare = data_QLD.loc[data_QLD['Classification'] == "Healthcare & Medical"]
data_QLD_Healthcare.head(5)

In [ ]:
# get the index (classification) and the values (classification count) from the panda series
QLD_job_sectors_Healthcare=data_QLD_Healthcare.SubClassification.value_counts().sort_values(ascending=False).index
QLD_job_sectors_count_Healthcare=data_QLD_Healthcare.SubClassification.value_counts().sort_values(ascending=False).values

# changing the sns figure size
sns.set(rc={'figure.figsize':(12,8)})

sns.barplot(x=QLD_job_sectors_count_Healthcare, y=QLD_job_sectors_Healthcare).set(title="Number of Healthcare & Medical jobs by SubClassification")
plt.ylabel('Job sector')
plt.xlabel('Number of jobs')
plt.show()

The above graph was created with the following specification:
- The job post must be in top 10 most populated cities/areas in Queensland (according to wikipedia)
- The job post must have an average salary of 80 or above
- The job post must be in the "Healthcare & Medical" Classification

--> according to the above graph, if Tom were to choose Healthcare as his major, he should aim to be a general Practitioner or Medical Specialist

## Let's get in even more detail (on salary):

In [ ]:
data_QLD_Healthcare_GP = data_QLD_Healthcare.loc[data_QLD_Healthcare['SubClassification'] == "General Practitioners"]
data_QLD_Healthcare_GP["Average Salary"].mean()

In [ ]:
data_QLD_Healthcare_MS = data_QLD_Healthcare.loc[data_QLD_Healthcare['SubClassification'] == "Medical Specialists"]
data_QLD_Healthcare_MS["Average Salary"].mean()

--> If Tom would prefer Healthcare over IT, he should definitely aim to be a GP, since the amount of job posts are higher, and they generally pays better too

### Scenario 1 conclusion:

With the above analysis, my suggestion for top 4 position Tom should aim for are:

1. General Pratitioner (Healthcare & Medical) - Highest average salary (decent amount of job posts)
2. Medical Special (Healthcare & Medical)
3. Business/System Analysts (IT)
4. Developer/Programmer (IT) - Almost half the salary of option 1, only choose if it's very hard to get a job

## Scenario 2

In [ ]:
# Griffith University wants to attract more students by enhancing the employability of the graduates
# Give the recommendation for the management board for the changing of the admission numbers in each major.  
# Which major should be extended and reduced?  
# Look at job lisitings - which one has higher jobs? -  Which ones will have more job postings? 
# Look at subsectors

### Look at top 2 classifications
--> top 5 sub-classifications in each (majors) --> 5 majors that we would suggest to increase intake on
### bottom 2 classifications
--> bottom 5 sub-classifications in each (majors) -- 5 majors that we would suggest to reduce intake on 
### Overall industry trend
-->top 5 majors 
-->bottom 5 majors

In [ ]:
# get the index (classification) and the values (classification count) from the panda series
job_sectors=data.Classification.value_counts().sort_values(ascending=False).index
job_sectors_count=data.Classification.value_counts().sort_values(ascending=False).values

# changing the sns figure size
sns.set(rc={'figure.figsize':(12,8)})

sns.barplot(x=job_sectors_count, y=job_sectors).set(title="Number of jobs by classification")
plt.ylabel('Job sector')
plt.xlabel('Number of jobs')
plt.show()

Looking at the above graph, the top 2 Classifications are:
* Information & Communication Techonology; and
* Trades & Services

***Lets look at the top 5 sub-classifications (majors) of each of the top 2 Classifications now (IT and Trades & Services)***

In [ ]:
## Top 2 Classifications

In [ ]:
data_IT = data.loc[data['Classification']=='Information & Communication Technology']

majors_IT = data_IT['SubClassification'].value_counts()
names_IT = majors_IT.index[:5]
values_IT = majors_IT.values[:5]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

sns.barplot(x=values_IT, y=names_IT).set(title="Top 5 majors in IT")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

print(values_IT)
print(names_IT)

plt.show()

The top 5 majors (regrading employability) in IT are:
* Developers & Programmers (4210)
* Business/System Analysts(2982)
* Programmer & Project Management (2413)
* Architects (1547)
* Engineering - Software (1436)

### Trades  & Services (Top 5 SubClassifications ie. Majors)

In [ ]:
data_TS = data.loc[data['Classification']=='Trades & Services']

majors_TS = data_TS['SubClassification'].value_counts()
names_TS = majors_TS.index[:5]
values_TS = majors_TS.values[:5]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

ax = sns.barplot(x=values_TS, y=names_TS).set(title="Top 5 majors in Trades & Services")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

plt.show()

print(values_TS)
print(names_TS)

The top 5 majors (regrading employability) in Trades & Servies are:
* Automotive Trades (3261)
* Electricians(1782)
* Labourers (1535)
* Fitters, Turners & Machinists (1333)
* Technicians (1161)

# Bottom 2 Classifications

In [ ]:
## Advertising, Arts & Media (Bottom 5 SubClassifications ie. Majors)

In [ ]:
data_AAM = data.loc[data['Classification']=='Advertising, Arts & Media']

majors_AAM = data_AAM['SubClassification'].value_counts()
names_AAM = majors_AAM.index[-5:]
values_AAM = majors_AAM.values[-5:]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

ax = sns.barplot(x=values_AAM, y=names_AAM).set(title="Bottom 5 majors in Advertising, Arts & Media")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

plt.show()
print(names_AAM)
print(values_AAM)

The bottom 5 majors (regrading employability) in Advertising, Arts & Media are:
* Photography (43)
* Management(42)
* Promotions(37)
* Event Management (37)
* Art Direction (31)

In [ ]:
data_CGM = data.loc[data['Classification']=='CEO & General Management']

majors_CGM = data_CGM['SubClassification'].value_counts()
names_CGM = majors_CGM.index[-5:]
values_CGM = majors_CGM.values[-5:]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

ax = sns.barplot(x=values_CGM, y=names_CGM).set(title="Bottom 5 majors in CEO & General Management")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

plt.show()
print(names_CGM)
print(values_CGM)

The bottom 5 majors (regrading employability) in CEO & General Management are:
* General/Business Unit Manage (519)
* CEO (163)
* Other (86)
* COO & MD (51)
* Board Appointments (24)

## Now lets look at the over-all industry trend for majors (SubClassifications)

### Looking at  Top 5 SubClassifications that are not "Others"

In [ ]:
data_sub = data[data.SubClassification!= 'Other']

majors_ = data_sub['SubClassification'].value_counts()
names_ = majors_.index[:5]
values_ = majors_.values[:5]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

ax = sns.barplot(x=values_, y=names_).set(title="Top 5 majors in the industry")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

plt.show()
print(values_)
print(names_)

The top 5 majors (regrading employability) in the over-all industry are:
* Management (6230)
* Chefs/Cooks (4596)
* Administrative Assistants (4571)
* Developers/Programmers (4210)
* Retail Assistants(3901)

### Looking at Bottom 5 SubClassifications that are not "Others"

In [ ]:
data_sub = data[data.SubClassification!= 'Other']

majors_ = data_sub['SubClassification'].value_counts()
names_ = majors_.index[-5:]
values_ = majors_.values[-5:]

# changing the sns figure size
sns.set(rc={'figure.figsize':(7,7)})

ax = sns.barplot(x=values_, y=names_).set(title="Bottom 5 majors in the industry")
plt.ylabel('Majors')
plt.xlabel('Number of jobs')

plt.show()

print(names_)
print(values_)

The bottom 5 majors (regrading employability) in the over-all industry are:
* Illustration & Animation' (14)
* Computer Operators (13)
* Air Force (12)
* Chiropractic & Osteopathic(11)
* Army (5)

***Note that Self-Employment did not have any sub-classifications thus the third last Classification of "CEO & General Management" was taken into consideration instead***

### Top 10-15 majors that should be extended

***Therefore, looking at the above data, the top majors that should be extened are dervied from the Classifications of Information & Communication Techonology that are:***

* Developers & Programmers (4210)
* Business/System Analysts(2982)
* Programmer & Project Management (2413)
* Architects (1547)
* Engineering - Software (1436)

***and the Classification of Trades & Servies that are:***

* Automotive Trades (3261)
* Electricians(1782)
* Labourers (1535)
* Fitters, Turners & Machinists (1333)
* Technicians (1161)

***and lastly the top 5  majors in the over all industry are:***
 
* Management (6230)
* Chefs/Cooks (4596)
* Administrative Assistants (4571)
* Developers/Programmers (4210)
* Retail Assistants(3901)

### Bottom 10-15 majors that should be reduced

***Therfore, looking at the above data, the top majors that should be reduced are dervied from the Classifications of Advertising Arts & Media that are:***

* Photography (43)
* Management(42)
* Promotions(37)
* Event Management (37)
* Art Direction (31)

***and CEO & General Management that are:***

* General/Business Unit Manage (519)
* CEO (163)
* Other (86)
* COO & MD (51)
* Board Appointments (24)

***and lastly the bottom 5  majors in the over all industry are:***
 
* Illustration & Animation' (14)
* Computer Operators (13)
* Air Force (12)
* Chiropractic & Osteopathic(11)
* Army (5)