In [57]:
import numpy as np
import pandas as pd

In [58]:
df = pd.DataFrame ({'A': [1,2,np.nan],
                   'B': [5,np.nan, np.nan],
                   'C': [1,2,3]})

In [59]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [60]:
df.dropna()

     A    B  C
0  1.0  5.0  1