In [188]:
import requests, csv
from bs4 import BeautifulSoup
import pandas as pd

In [189]:
def get_movies(url):    
    response = requests.get(url)
    soup_imdb = BeautifulSoup(response.text)

    #get movie title
    all_titles = soup_imdb.find_all("td", {"class":"titleColumn"})
    titles = []
    for title in all_titles:
        #cleaning titleColumn
        title = title.get_text().replace('\n', "")
        title = title.strip(" ")

        #since the cleaned titleColumn contain both ranking and title, split it at '.', creating a list
        title = title.split('.')
        #movie title is the 2nd element in the splitted string
        title = title[1]
        #get rid of movie release year
        title = title[0 : title.find('(')]
        titles.append(title)

    # get ranking
    all_titles = soup_imdb.find_all("td", {"class":"titleColumn"})
    rankings = []
    for title in all_titles:
        #cleaning titleColumn
        title = title.get_text().replace('\n', "")
        title = title.strip(" ")

        #since the cleaned titleColumn contain both ranking and title, split it at '.', creating a list
        title = title.split('.')
        #append the 1st element of the splitted list (title) as movie's ranking
        rankings.append(title[0])


    # get release year
        # method1: get year from movie title
        # all_titles = soup_imdb.find_all("td", {"class":"titleColumn"})
        # years = []
        # for title in all_titles:
        #     #cleaning titleColumn
        #     title = title.get_text().replace('\n', "")
        #     title = title.strip(" ")
        #     year = title[title.find('(')+1: title.find(')')]
        #     years.append(year)

        # method2: get year from <span>, class: secondaryInfo
    all_years = soup_imdb.find_all("span", {"class":"secondaryInfo"})
    years = []
    for year in all_years:
        release_year = year.get_text()
        release_year = release_year[release_year.find('(')+1: release_year.find(')')]
        years.append(release_year)

    # get castings
    all_titles = soup_imdb.find_all("td", {"class":"titleColumn"})
    castings = []
    for title in all_titles:
        casting = title.find("a")
        casting = casting['title']
        castings.append(casting)

    # get rating
    all_ratings = soup_imdb.find_all("td", {"class":"ratingColumn imdbRating"})
    ratings = []
    for rating in all_ratings:
        rating = rating.get_text().replace('\n', "")
        ratings.append(rating)

    data = pd.DataFrame()
    data['Title'] = titles
    data['Ranking'] = rankings
    data['Initial release year'] = years
    data['Casting'] = castings
    data['Rating'] = ratings

    # write csv
    data.to_csv('imdb_top_250.csv', index=False)

In [190]:
def main():
    url = "https://www.imdb.com/chart/top"
    get_movies(url)

In [191]:
main()

In [194]:
import pandas as pd
df = pd.read_csv('imdb_top_250.csv')
df

,Title,Ranking,Initial release year,Casting,Rating
0,The Shawshank Redemption,1,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2
1,The Godfather,2,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.2
2,The Dark Knight,3,2008,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0
3,The Godfather: Part II,4,1974,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0
4,12 Angry Men,5,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",9.0
...,...,...,...,...,...
245,Beauty and the Beast,246,1991,"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",8.0
246,Gandhi,247,1982,"Richard Attenborough (dir.), Ben Kingsley, Joh...",8.0
247,The Help,248,2011,"Tate Taylor (dir.), Emma Stone, Viola Davis",8.0
248,The Handmaiden,249,2016,"Park Chan-wook (dir.), Kim Min-hee, Ha Jung-woo",8.0
249,Dances with Wolves,250,1990,"Kevin Costner (dir.), Kevin Costner, Mary McDo...",8.0